<script>
    document.addEventListener('DOMContentLoaded', function(event) {
        {% if operation %}
        selectDropDownValue('{{ operation }}');
        {% endif %}
        showHideDivs();
    });

    function selectDropDownValue(valueToSelect) {
        document.getElementById('operation').value = valueToSelect;
    }

    function showHideDivs() {
        if (document.getElementById('operation').value == 'regex') {
            document.getElementById('aritmethic').style.display = 'none';
            document.getElementById('regex').style.display = 'block';
        } else {
            document.getElementById('aritmethic').style.display = 'block';
            document.getElementById('regex').style.display = 'none';
            document.getElementById('valueBContent').style.display = (document.getElementById('operation').value == 'fac' ? 'none' : 'block');
        }
    }
</script>
<style>
    .main {
        margin: auto;
        width: 40%;
        font-family: Helvetica, Arial;
        background: gainsboro;
        padding: 20px;
    }

    .button {
      background-color: #4CAF50;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      border-radius: 8px;
      margin: 20px auto
    }

    input[type=number], input[type=text], select {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }


    #mathForm div + div {
        margin-top: 10px;
    }

    #mathForm {
        width: 60%;
        margin: auto;
        text-align: center
    }

    .errorMsg {
        width: 100%;
        background: indianred;
    }

    .errorMsg div {
        padding: 15px;
    }

    .successMsg span,.errorMsg span {
        width: 60%;
        display: inline-block;
        color: white;
    }

    .successMsg {
        width: 100%;
        background: green;
    }

    .successMsg div {
        padding: 15px;
    }
</style>
<div class="main">
    <h1>Test for MathAPI</h1>
    <form id="mathForm" method="post">
      <p>Please select your preferred arithmetic operation:</p>
      <div>
        <select name="operation" id="operation" onchange="showHideDivs(this)">
          <option value="add">Addition</option>
          <option value="sub">Subtraction</option>
          <option value="mul">Multiplication</option>
          <option value="sub">Division</option>
          <option value="fac">Factorial</option>     
          <option value="regex">Operation with REGEX</option>
        </select>
      </div>
      <div id="aritmethic">
        <div>
            <span>Value A</span>
            <input type="number" id="valueA" name="valueA" value="{{ valueA }}">
        </div>
        <div id="valueBContent">
            <span>Value B</span>
            <input type="number" id="valueB" name="valueB" value="{{ valueB }}">
        </div>
      </div>
      <div id="regex">
        <div>
            <span>Please Insert a Aritmethic Expression (I.E. 123 + 456)</span>
            <input type="text" id="expression" name="expression" value="{{ expression }}">
        </div>
      </div>
        <button type="submit" class="button">Submit</button>
    </form>

    {% if result %}
        {% if error %}
      <div class="errorMsg">
        <div>
            <span>Following error displayed:</span>
            <span class="error">{{ result | nl2br }}</span>
        </div>
      </div>
        {% else %}  
      <div class="successMsg">
        <div>
            <span>Result for {{ operation }} is:</span>
            <span>{{ result }}</span>
        </div>
      </div>
        {% endif %}
    {% endif %}
</div>
